<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.vl {
  border-left: 2px solid;
  border-left-color: rgb(40,40,90);
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
}
</style>
</head>
<body>

<footer>


  <div class = "split left">
    <div style = "text-align: right;">
      ATC Mekanik LTD.
      <br>
      İletişim
    </div>

  </div>

  <div class = "border">
    <div class="vl"></div>
  </div>

  <div class = "split right">
    Tel: 05338379867 <br>
    E-Mail: <a href="mailto:atcmekanikltd@gmail.com">atcmekanikltd@gmail.com</a>
  </div>

</footer>
