.c_vertical-line-footer {
  display: inline-block;
  border-left: 1px solid;
  border-left-color: rgb(230,230,230);
  height: 5rem;
  position: relative;
  left: 50%;
  margin-left: -0.5px;
}

.c_vertical-line-header {
  border-left: 1px solid;
  border-left-color: rgb(230,230,230);
  height: 5rem;
  position: relative;
  margin-left: -0.5px;
}


.list ul li{
  list-style:disc;
}
a.yer,
a.yer:visited {
  border-bottom: 0.05em solid $link-color-negative;
	text-decoration: none;
	color: $link-color-negative;
}

a.yer:hover,
a.yer:active {
  text-decoration: none;
  border: 0;
  color: $link-hover-color-negative;
}

.body_contact {
  color: $text-color-negative;
  font-family: $base-font;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-style: normal;
	font-variant: normal;
  font-size: 1.2rem; // this is equivalent to 16px
}

.body_catalog_video {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(1rem, 1fr)
    minmax(1rem, 1fr);

  grid-column: full;
  padding: 1rem 1rem;
}

.header {
  display: inline-block
}

.logo_navbar {
  height: 50px;
  width: 200px;
}
